.todo-head{
    width:90%;
    height:4rem;
    background:white;
    border:1px solid #aaa;
    margin-top:4%;
    margin-left:5%;
}
.todo-items{
    width:90%;
    height:80%;
    margin-left:5%;
    position:relative;
}
.input{
    width:90%;
    height:100%;
    font-size:1.7rem;
    padding:2px 10px;
    border:none;
    color:#666;
}
.input:focus{
    outline:none;
    border:none;
}
.btn-add{
    width:10%;
    height:100%;
    border:none;
    outline:none;
    color:rgb(69, 63, 153);

}
.btn-add:hover{
    background:rgb(69, 63, 153);
    color:white;
}
.btn-add:disabled{
    background:#ddd;
}
.btn-add:disabled:hover{
    color:rgb(69, 63, 153);
}
.todo-items-ul{
    width:100%;
    height:100%;
    overflow:auto;
    list-style: none;
    padding:0;
    cursor:pointer;
}
.todo-items-ul::-webkit-scrollbar{
    width:4px;
    background:#eee;
}
.todo-items-ul::-webkit-scrollbar-thumb{
    border-radius:20px;
}
.todo-items-ul::-webkit-scrollbar-thumb:hover{
    background:rgb(69, 63, 153);
}
.todo-items-data{
    width:100%;
    height:3rem;
    font-size:1.7rem;
    background:white;
    padding:3px 4px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    transition:400ms;
}
.todo-items-data:not(:first-child){
    margin-top: .6rem;
}
.todo-items-data.data-effect{
    background:rgb(69, 63, 153);
    color:white;
}
.todo-items-data.trash-effect{
    opacity:0;
    transition:250ms;
}
.li-text{
    width:84%;
    height:100%;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.todo-items-data>.trash-wrapper:hover{
    color:white;
    background:rgb(69, 63, 153);
}
.todo-items-data>.trash-wrapper{
    width:6%;
    height:90%;
    padding:2px 0;
    background:white;    
    border-radius: 3px;
    color:rgb(69, 63, 153);
    display:flex;
    justify-content:center;
    transition:300ms;
}
.todo-items-data>.check-wrapper--unchecked:hover{
    color:white;
    background:rgb(69, 63, 153);
}
.todo-items-data>.check-wrapper{
    width:6%;
    height:90%;
    padding:2px 0;
    background:white;    
    color:rgb(69, 63, 153);
    border-radius: 3px;
    display:flex;
    transition:300ms;
    justify-content: center;
    align-items:center;
    border:1px solid rgb(69, 63, 153);
}
.todo-items-data>.check-wrapper.checked{
    color:rgb(21, 177, 21);
    border:1px solid rgb(21, 177, 21);
}

.check-effect{
    color:green;
}
svg{
    pointer-events: none;
}

