.benefits_wrapper{
    width:100%;
    background:var(--pinkShade1);
    display:grid;
    place-items: center;
}
.benefits{
    width:92%;
    display:grid;
    grid-template-columns: 50% 50%;
    padding-top:5rem;
    padding-bottom:5rem;
    max-width: 1350px;
    position: relative;
}
.benefits_header{
    grid-column: 1/3;
    padding-bottom:var(--paddingSmall) ;
    width:100%;
}
.benefits_header h1{
    font-size:var(--fontSizeSmall);
    width:100%;
    color:var(--blue);
}
.benefits_section{
    max-width:55rem;
    width:100%;
}
.benefits_section_f{
    padding-right: 1rem;
}
.benefits_section_l{
    padding-left: 1rem;
}
.benefits_section_header{
    padding-bottom: calc(var(--paddingBig) + 1rem);
}
.benefits_section_header h1{
    font-size:var(--fontSizeBig);
    color:var(--black);
    padding-bottom:.8rem;
}
.benefits_section_header p{
    font-size:var(--fontText);
    color:var(--black);
}


.benefits_content_items{
    display:flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    height:18rem;
}

.benefits_content_items .check{
    width:2.5rem;
    height:2.5rem;
    margin-top: 5px;
}
.benefits_content_items .item{
    width:calc(100% - 4rem);
    height:auto;
    font-size:1.35rem;
    line-height: 3rem;
    color:var(--black);
}

.benefits_content_items .check img{
    width:100%;
    height:100%;
}

@media screen and (max-width:900px){
    .benefits_section_header p{
        height: 4rem;
    }
    .benefits{
        grid-template-columns:100%;
    }
    .benefits_section{
        max-width:100%;
    }
    .benefit_content{
        width:100%;
    }
    .benefits_section_f{
        padding-right: 0;
    }
    .benefits_section_l{
        padding-left: 0;
        grid-row: 3/4;
    }
    .benefits_content_list{
        display:grid;
        grid-template-columns: 50% 50%;
    }
    .benefits_content_items:nth-child(odd){
        padding-right: 1rem;
    }
    .benefits_content_items:nth-child(even){
        padding-left: 1rem;
    }

}

@media screen and (max-width:700px){
    .benefits_section_header p{
        height: auto;
    }
    .benefits_content_list{
        display:grid;
        grid-template-columns: 100%;
    }
    .benefits_content_items{
        height:auto;
    }
    .benefits_content_items:nth-child(odd){
        padding-right: 0;
    }
    .benefits_content_items:nth-child(even){
        padding-left: 0;
    }
    
      
}
@media screen and (max-width:468px){
    .benefits_section_header h1{
        font-size:2.8rem;
    }
}
