.footer{
    width:100%;
    height:25rem;
    background:#333;
    cursor: default;
}
.footer-wrapper{
    width:100%;
    height:100%;
    display:flex;
    color:white;
    align-items:center;
    position:relative;
}
.footer-header{
    width:20%;
    margin-left:2rem;
}
.footer-header--primary{
    font-size:2.7rem;
}
.footer-header--primary:hover{
    color:rgb(162, 156, 240);
}
.footer-bottom{
    color:white;
    background:#333;
    text-align:center;
}
.footer-row--contact{
    font-size:2.5rem;
    width:50%;
    height:95%;
    margin-left:7rem;
    margin-right:2rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.footer--contact--circle{
    height:16rem;
    width:16rem;
    border-radius: 50%;
    position:relative;
}
.telegram,.whatsapp,.instagram,.mail,.messenger,.twitter,.contact{
    position:absolute;
    width:3.5rem;
    height:3.5rem;
    border-radius: 50%;
}
.contact{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1);
    width:5rem;
    height:5rem;
    border-radius: 50%;
    background:rgb(162, 156, 240);
    display:grid;
    place-items:center;
    z-index:10;
}
.contact.effect{
    animation:contact 400ms linear;
}
@keyframes contact {    
    from{
        transform:translate(-50%,-50%) scale(1);
    }
    to{
        transform:translate(-50%,-50%) scale(1.2);
    }
}
.contact.d-effect{
    animation:d-contact 400ms linear;
}
@keyframes d-contact {    
    from{
        transform:translate(-50%,-50%) scale(1.2);
    }
    to{
        transform:translate(-50%,-50%) scale(1);
    }
}
.phone-call{
    pointer-events: none;
}
.telegram,.whatsapp,.instagram,.mail,.messenger,.twitter{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.telegram.contact-effect{
    top:30%;
    left:-7%;
    transform:translate(7%,-30%);
    animation:telegram 250ms linear;
}
.telegram.contact-effect-default{
    animation:d-telegram 250ms linear;
}
@keyframes telegram{
    from{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        top:30%;
        left:-7%;
        transform:translate(7%,-30%) scale(1);
    }
}
@keyframes d-telegram{
    from{
        top:30%;
        left:-7%;
        transform:translate(7%,-30%) scale(1);
    }
    to{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
}

.whatsapp.contact-effect{
    top:30%;
    left:105%;
    transform:translate(-105%,-30%);
    animation:whatsapp 250ms linear;
}
.whatsapp.contact-effect-default{
    animation:d-whatsapp 250ms linear;
}
@keyframes whatsapp{
    from{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        top:30%;
        left:105%;
        transform:translate(-105%,-30%) scale(1);
    }
}
@keyframes d-whatsapp{
    from{
        top:30%;
        left:105%;
        transform:translate(-105%,-30%) scale(1);
    }
    to{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
}
.instagram.contact-effect{
    top:-10%;
    left:50%;
    transform:translate(-50%,10%);
    animation:instagram 250ms linear;
}
.instagram.contact-effect-default{
    animation:d-instagram 250ms linear;
}
@keyframes instagram{
    from{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        top:-10%;
        left:50%;
        transform:translate(-50%,10%) scale(1);
    }
}
@keyframes d-instagram{
    from{
        top:-10%;
        left:50%;
        transform:translate(-50%,10%) scale(1);
    }
    to{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
}

.mail.contact-effect{
    top:80%;
    left:-2%;
    transform:translate(2%,-80%);
    animation:mail 250ms linear;
}
.mail.contact-effect-default{
    animation:d-mail 250ms linear;
}
@keyframes mail{
    from{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        top:80%;
        left:-2%;
        transform:translate(2%,-80%) scale(1);
    }
}
@keyframes d-mail{
    from{
        top:80%;
        left:-2%;
        transform:translate(2%,-80%) scale(1);
    }
    to{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
}

.messenger.contact-effect{
    top:80%;
    left:105%;
    transform:translate(-105%,-80%);
    animation:messenger 250ms linear;
}
.messenger.contact-effect-default{
    animation:d-messenger 250ms linear;
}
@keyframes messenger{
    from{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        top:80%;
        left:105%;
        transform:translate(-105%,-80%) scale(1);
    }
}
@keyframes d-messenger{
    from{
        top:80%;
        left:105%;
        transform:translate(-105%,-80%) scale(1);
    }
    to{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
}
.twitter.contact-effect{
    top:110%;
    left:50%;
    transform:translate(-50%,-110%);
    animation:twitter 250ms linear;
}
.twitter.contact-effect-default{
    animation:d-twitter 250ms linear;
}
@keyframes twitter{
    from{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        top:110%;
        left:50%;
        transform:translate(-50%,-110%) scale(1);
    }
}
@keyframes d-twitter{
    from{
        top:110%;
        left:50%;
        transform:translate(-50%,-110%) scale(1);
    }
    to{
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0);
    }
}
@media screen and (min-width:399px){
    .footer--contact--circle{
        height:18rem;
        width:18rem;
    }
}
@media screen and (min-width:430px){
    .footer-bottom-text{
        text-align:left;
        margin-left:2rem;
    }
}
@media screen and (min-width:430px){
    .footer-wrapper{
        width:100%;
        max-width:60rem;
    }
}
